{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-order"
  ],
  "rules": {
    "function-calc-no-invalid": null,
    "declaration-colon-newline-after": null,
    "string-quotes": "double",
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  }
}
